force-app/main/default/flows/QuickContractCalc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>QuickCalcContract</name>
        <label>Quick Calc Contract</label>
        <locationX>436</locationX>
        <locationY>264</locationY>
        <actionName>GenerateContractAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResponseMessage</targetReference>
        </connector>
        <inputParameters>
            <name>Products</name>
            <value>
                <elementReference>ContractProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InquiryMode</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>QuickContractCalcDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Term</name>
            <value>
                <elementReference>QuickContractCalcTerm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Account</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContractAmount</assignToReference>
            <name>Amount</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddProduct</name>
        <label>Add Product</label>
        <locationX>280</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>ContractProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuickCalcContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResponseMessage</name>
        <label>Response Message</label>
        <locationX>605</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimated Contract Value is {!ContractAmount}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetupProduct</name>
        <label>Setup Product</label>
        <locationX>108</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>ContractProduct.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0013F00000UBgWIQA1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>42.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProduct</targetReference>
        </connector>
    </assignments>
    <interviewLabel>QuickContractCalc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Contract Calc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SetupProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContractProduct</name>
        <apexClass>GenerateContractActionRequestProduct</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractProducts</name>
        <apexClass>GenerateContractActionRequestProduct</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuickContractCalcDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuickContractCalcTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
